includes:
		- vendor/phpstan/phpstan/conf/bleedingEdge.neon
		- vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
        level: 6
        inferPrivatePropertyTypeFromConstructor: true
        treatPhpDocTypesAsCertain: false
        reportUnmatchedIgnoredErrors: false
        scanFiles:
            - missing-widgets-for-elementor.php
            - assets/elementor/elementor-stubs.php
            - assets/elementor/elementorpro-stubs.php
        scanDirectories:
        	- assets/freemius
        paths:
            - includes/
        ignoreErrors:
        	- "#Method [a-zA-Z0-9\\_\\\\:\\(\\)]+ has parameter \\$[a-zA-Z0-9_]+ with no value type specified in iterable type array#"
        	- "#Method [a-zA-Z0-9\\_\\\\:\\(\\)]+ return type has no value type specified in iterable type array#"
        	- "#Property [a-zA-Z0-9\\$\\_\\\\:\\(\\)]+ type has no value type specified in iterable type array#"
        	- identifier: missingType.iterableValue
